.nadpis11 {
    color: brown;
}
.nadpis22 {
    color: chocolate;
}
.nadpis33 {
    color: aqua;
}
body {
    background-image: url(krajina.jpg);
    background-color: blue;
}
.ollist11 {
    color: chartreuse;
    list-style-type: upper-roman;
}
.ollist22 {
    color: crimson;
    list-style-type: upper-roman;
}
.ollist33 {
    color: cyan;
    list-style-type: upper-roman;
}
.ullist11 {
    color: black;
    list-style-type: square;
}
.ullist22 {
    color: gold;
    list-style-type: circle;
}
.ullist33 {
    color: indigo; 
    list-style: inside;
}
